<!DOCTYPE html><#import "/lib/console.html" as console>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>后台管理系统</title>

<@console.css />
<link rel="stylesheet" type="text/css" href="/res/console/course/course.css">
<style>
  th,td{
    border:1px solid #DDDDDD;
}  img{
width:100%;
}

#edui_fixedlayer{
 z-index:2000!important
}


</style>
</head>
<body>

<@console.topbar />

<@console.sidebar active="course"/>

<div class="main" ng-app="myApp" ng-controller="CourseCtrl" ng-init="courseId=${courseId}">

  <div id="stages" class="panel panel-default text-center" style="margin-top: 40px">
        <div class="panel-body">
            <div class="stages">
                <a data-stage="1" class="tab tab1 current" href="javascript:;"ng-click="choseStage($event)">前导学习</a>
                <i class="link  fa fa-2x fa-arrow-right"></i>
                <a data-stage="2" class="tab tab2 current" href="javascript:;"ng-click="choseStage($event)">感知体验</a>
                <i class="link fa fa-2x fa-arrow-right"></i>
                <a data-stage="3" class="tab tab3 current" href="javascript:;" ng-click="choseStage($event)">观察反思</a>
                <i class="link fa fa-2x fa-arrow-right"></i>
                <a data-stage="4" class="tab tab4 current" href="javascript:;"ng-click="choseStage($event)">抽象概念</a>
                 <i class="link fa fa-2x fa-arrow-right"></i>
                <a data-stage="5" class="tab tab5 current" href="javascript:;"ng-click="choseStage($event)">积极实验</a>
            </div>
          
        </div>
    </div>
    
    <div class="row">
    
    <div class="col-md-3">
    <div ng-if="tasks != null"><a>任务</a> 
    <a class="pull-right btn btn-primary btn-xs"  ng-click="newTask()" style="margin-right: 8px;">
        <span class="glyphicon glyphicon-plus">添加任务</span></a></div>
     <table class="table table-hover" style="border:0">
        <tbody>
        <tr ng-repeat="item in tasks" style="border:0">
        <td  style="border:0" ng-click="showQuestion(item.id)" ng-class="{active: item.id == taskId}">{{item.name}} 
       
        <a class="pull-right btn btn-danger btn-xs" id="{{item.id}}"  ng-click="removeTask(item.id)">
        <span class="glyphicon glyphicon-remove"></span></a>
       
        
        </td>
        </tr>
       
        </tbody>
    </table>
    </div>
    <div class="col-md-9" >
    
      <uib-tabset ng-if="tasks != null">
        <uib-tab ng-repeat="tab in tabs"   heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            <div ng-include="tab.template" style="margin-top: 10px;"></div>
        </uib-tab>
    </uib-tabset>
     
    </div>
    </div>

</div>

<@console.js />
<script src="/lib/angular/1.4.8/angular.min.js"></script>
<script src="/lib/angular/1.4.8/angular-route.min.js"></script>
<script src="/lib/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/res/console/course/course.js"></script>
<script type="text/javascript" charset="utf-8" src="/lib/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/lib/ue/ueditor.all.min.js"> </script>
<script src="/lib/ui-tree/angular-ueditor.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $(".tab").each(function() {
       $(this).on('click', function() {
           var a = $(this);
           var stage = a.data("stage");
           var activeClass = "stage-a" + stage;
           var body = $("#stages");
           body.removeClass("stage-a1");
           body.removeClass("stage-a2");
           body.removeClass("stage-a3");
           body.removeClass("stage-a4");
           body.removeClass("stage-a5");
           body.addClass(activeClass);
       });
   });
});</script>

</body>
</html>