<!DOCTYPE html><#import "/lib/console.html" as console>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>后台管理系统</title>

<@console.css />

<style type="text/css">

</style>
</head>
<body>

<@console.topbar />

<@console.sidebar active="changePassword"/>

<#import "/lib/spring.ftl" as spring>

<div class="main">
	<div class="main-head clearfix">
        <ol class="breadcrumb float-left">
            <li><i class="fa fa-cubes"></i>修改密码</li>
        </ol>
    </div>
    
    <form id="password_form" class="form-horizontal main-form" role="form" method="post" >
		
	
		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label">旧密码</label>
		    <div class="col-sm-10">
		        <input id="oldPassword" name="oldPassword" placeholder="必填" required type="password" class="form-control main-form-input"> 
		    </div>
		</div>
		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label">新密码</label>
		    <div class="col-sm-10">
		        <input id="newPassword" name="newPassword"  placeholder="必填" required type="password" class="form-control main-form-input">
		    </div>
		</div>
		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label">确认新密码</label>
		    <div class="col-sm-10">
		        <input id="newPassword2" name="newPassword2"  placeholder="必填" required type="password" class="form-control main-form-input">
		      <div id="error-message" style="color:red"></div>
		    </div>
		</div>
		
        
	</form>
	<div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
                <button id="subPassword"  class="btn btn-success">提 交</button>
            </div>
        </div>
    
</div><!-- main -->

<@console.js />
<script src="/lib/jquery/1.11.3/jquery.validate.js"></script>
<script src="/lib/jquery/1.11.3/messages_zh.js"></script>

<script type="text/javascript">
$('#subPassword').on('click', function() {
	var validators = $('#password_form').validate();
	
	 if (!validators.form()) {			 
		 return;			
		} 
	$.ajax({
		type : 'POST',
		dataType : 'json',
		url : '/console/member/changeUserPassword',
		data : $('#password_form').serialize(),
		success : function(data) {
			var codes = data.code;
				
			   if(codes == 0){
				   $('#error-message').html("密码更新失败，<b>原密码错误</b>"); 
			   }
							
			   if(codes == 1){
					$('#error-message').html("密码更新失败，新密码不同");
			   }
						
				if(codes == 2){
					$('#error-message').html("密码更新成功");
				}
				
				if(codes == 3){
					 $('#error-message').html("密码更新失败，服务器忙");
				}
					
					
			},
			error : function(data) {
				alert("error:" + data.responseText);

			}
		});
	});
</script>
</body>
</html>