<!DOCTYPE html><#import "/lib/console.html" as console>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>后台管理系统</title>

<@console.css />

<style type="text/css">

</style>
</head>
<body>

<@console.topbar />

<@console.sidebar active="lesson"/>

<div class="main" ng-app="myApp" ng-controller="WorkCtrl">
	<div class="main-head clearfix">
        <ol class="breadcrumb float-left">
            <li><i class="fa fa-cubes"></i> 授课管理</li>
        </ol>
    </div>
    <div class="main-tool btn-toolbar" role="toolbar" aria-label="...">
        <a href="/console/lesson/create" class="btn btn-primary">新增授课</a>
        
    </div>
    
	<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th width="42">ID</th>
			<th>课程名称</th>
			<th width="75">授课名称</th>
			<th width="75">授课说明</th>
			<th width="75">状态</th>
			<th width="275">上课班级</th>
			<th>创建者</th>
			<th width="155">创建时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	<#if lessons ??>
		<#list lessons as lesson>
		<tr>
			<td>${lesson.id}</td>
			<td><a href=""  ng-click="showWorkDetail(${lesson.id},${lesson.courseId})" title="点击查看学生作业情况">${lesson.course.name}</a></td>
			<td>${lesson.name}</td>
			<td>${lesson.note}</td>
			<td>
			<#if lesson.state>
				<div style="color:#0a0">已开课</div>
			<#else>
				<div style="color:#ccc">未开课</div>
			</#if>
			</td>
			<td>
			${lesson.clazz.schoolName}${lesson.clazz.name}
			</td>
			<td>${lesson.createUser.nickname}</td>
			<td>${lesson.createTime}</td>
			<td>
			    <a href="/console/lesson/paper/${lesson.id}">阅卷</a> /
				<a href="/console/lesson/update/${lesson.id}">修改</a> /
				<a href="#" onclick="lessondel(${lesson.id})">删除</a> /
				<a href="/console/lesson/plan/list/${lesson.id}">计划</a>
			</td>
		</tr>
		</#list>
		</#if>
	</tbody>
	</table>

	<table id="des" class="table table-hover table-bordered" style="display: none;">
		<caption>该课程学生作业情况</caption>
		<thead>
			<tr>
				<th width="10%">姓名</th>
				<th width="18%">前导学习</th>
				<th width="18%">感知体验</th>
				<th width="18%">观察反思</th>
				<th width="18%">抽象概念</th>
				<th width="18%">积极实验</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in students">
				<td>{{item.studentName}}</td>
				<td ng-repeat="c in item.courseTasks">
					<span ng-repeat="task in c">{{task.name}}:
						<i ng-if="task.workId==null" class="glyphicon glyphicon-remove" style="color:red;">未完成</i>
					    <i ng-if="task.workId!=null && task.workpoint==null" class="glyphicon glyphicon-ok" style="color:#0099CC;">已完成</i>
						<!--<i ng-if="task.workId!=null && task.workpoint==null && task.stageId=1" class="glyphicon glyphicon-ok" style="color:green;">已完成</i>-->
						<i ng-if="task.workId!=null && task.workpoint!=null" class="glyphicon glyphicon-ok" style="color:green;">已评分</i><br/>
					</span>
				</td>
			</tr>
		</tbody>
	</table>

</div>


<@console.js />
    <div class="modal" id="mymodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="title">提示</h4>
				</div>
				<div class="modal-body">
					<p id="message"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="JustDoIt">确定</button>
				</div>
			</div>
		</div>
	</div>

    <script src="/lib/angular/1.4.8/angular.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/ue/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/ue/ueditor.all.min.js"> </script>
	<script src="/lib/ui-tree/angular-ueditor.js"></script>
	<script type="text/javascript" src="../../lib/bootstrap/3.3.5/js/bootstrap-filestyle.min.js"></script> 
	<script type="text/javascript">
		function lessondel(lessonId){
			$("#message").html("确定删除此授课吗");
			$("#mymodal").modal("show");
			$("#JustDoIt").click(function(){
				window.location.href = "/console/lesson/delete/"+lessonId;
			});
		}
		(function (){
			var app = angular.module('myApp',[]);
			app.controller("WorkCtrl",function($scope,$http){
				$scope.showWorkDetail = function(lessonId,courseId){
					$http.get("/console/workdetail/studentWork/"+lessonId+"/"+courseId).success(
							function(response){
								$scope.students = response;
							});
					//$("#workDetail").modal("show");
					$("#des").show("500");
				}
			});

		})();
	</script>

</body>
</html>