<!DOCTYPE html><#import "/lib/common.html" as common>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>修改密码</title>

<@common.css />
<link rel="stylesheet" type="text/css" href="/res/student/common.css">
<link rel="stylesheet" type="text/css" href="/res/student/commo.css">
</head>
<style type="text/css">
	#main{
		padding-top:10px;
	}
	#name{
		width: 60%;
	}
	#newPassword{
		width: 60%;
	}
	#lng{
		width: 60%;
	}
	.top{
		height:10px;
	}
	#changePassword_form label.error{
		color: red;
	}
</style>
<body>

<@common.topbar />
<div class="top"></div>
<div class="container banner-container">
    <div class="banner">
        <div class="banner-left">
            <div id="avatarimg" class="student-icon"><#if user.user.avatar??><img src="${user.user.avatar}"/><#else><img src="/res/student/images/student_1.jpg"/></#if></div>
        </div>
        <div class="banner-right">
            <h3 class="student-name">${user.user.truename!''}</h3>
            <div class="student-school">${user.clazz.schoolName!''}(${user.clazz.name!''})</div>
            <div class="student-note"><i class="fa fa-quote-left"></i> ${user.user.sign!'编辑签名'} <i class="fa fa-quote-right"></i> 
               <!-- <span id="edit" class="glyphicon glyphicon-pencil " title="点击更换签名" aria-hidden="true" onclick="editsign()" style="color:red;cursor:pointer;"></span> -->
            </div>
        </div>
    </div>
     <div class="menu">
        <ul>
            <li ><a href="/student/${user.user.id}">我的主页</a></li>
            <li ><a href="/student/${user.user.id}/learning">我的学习</a></li>
            <li ><a href="/student/${user.user.id}/work">我的成果</a></li>
        </ul>
    </div>
     <div id="main" class=" col-sm-12 " >
     <div class="panel panel-default">
       <div class="panel-body"> 
		    <form id="changePassword_form" class="form-horizontal main-form"  role="form">
				<div class="form-group">
				    <label  class="col-sm-2 control-label">旧密码</label>
				    <div class="col-sm-10">
				        <input id="name" name="oldPassword"  placeholder="必填" type="password" class="form-control main-form-input checkPassword">
					</div>
				</div>
				<div class="form-group">
				    <label  class="col-sm-2 control-label">新密码</label>
				    <div class="col-sm-10">
				        <input id="newPassword" name="newPassword"  placeholder="输入新密码，3-6长度" type="password" class="form-control main-form-input checkPassword">
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label">确认新密码</label>
				    <div class="col-sm-10">
				        <input id="lng" name="newPassword2"  placeholder="确认密码，3-6长度" type="password" class="form-control main-form-input checkPassword">
				        <span id="PasswordMessage" style="color:red;"></span>  
				    </div>
				</div> 
			</form>
		   <div class="form-group">
	            <div class="col-sm-offset-2 col-sm-10">
	                <button id="button" class="btn btn-success">提交</button>
	            </div>
	      </div>
      </div>
    </div>
</div>
</div>
   
</div>
<!-- main -->

<@common.footer />

<@common.js />
<script src="../../lib/jquery/1.11.3/jquery.validate.js"></script>
<script src="../../lib/jquery/1.11.3/messages_zh.js"></script>
<script type="text/javascript">
	$(function(){
		$('#changePassword_form').validate({
			rules:{
				oldPassword:{
					required:true,
				},
				newPassword:{
					required:true,
					minlength:3,
					maxlength:6
				},
				newPassword2:{
					required:true,
					minlength:3,
					maxlength:6,
					equalTo:"#newPassword"
				}
			}
		});
		$("#button").click(function(){
			if (!$("#changePassword_form").valid()) {
				return;
			}else{
				$.ajax({
					type:'POST',
					url:"/auth/member/Password",
					data:$('#changePassword_form').serialize(),
					success:function(result){
						$('#PasswordMessage').html(result.message);
					}
				});
			}
		});
	});
</script>

</body>
</html>