<!DOCTYPE html><#import "/lib/console.html" as console>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>后台管理系统</title>

<@console.css />

<style type="text/css">

</style>
</head>
<body>

<@console.topbar />

<@console.sidebar active="notice"/>

<#import "/lib/spring.ftl" as spring>

<div class="main">
	<div class="main-head clearfix">
        <ol class="breadcrumb float-left">
            <li><i class="fa fa-cubes"></i> <a href="/console/notice/list">公告管理</a></li>
            <#if notice.id??>
            <li class="active">修改公告</li>
            <#else>
            <li class="active">新建公告</li>
            </#if>
        </ol>
    </div>
    
    <form id="notice" action="<#if notice.id ??>/console/notice/update/${notice.id}<#else>/console/notice/create</#if>" method="post" class="form-horizontal main-form" role="form">
		<div class="form-group">
		    <label for="code" class="col-sm-2 control-label">公告标题</label>
		    <div class="col-sm-10">
		        <input id="name" name="name" value="${(notice.name)!}" placeholder="必填，请填写公告标题" type="text" class="form-control main-form-input" required autofocus>
		        <#if notice??><@spring.bind "notice.name" /><@spring.showErrors /></#if>
		    </div>
		</div>
		<@spring.formHiddenInput "notice.id" />
		<div class="form-group">
		    <label for="name" class="col-sm-2 control-label">公告内容</label>
		    <div class="col-sm-10">
		        <input id="note" name="note" value="${(notice.note)!}" placeholder="必填" type="text" class="form-control main-form-input" required>
		        <#if notice??><@spring.bind "notice.note" /><@spring.showErrors /></#if>
		    </div>
		</div>
		<div class="form-group">
		    <label for="name" class="col-sm-2 control-label">公告类别</label>
		    <div class="col-sm-10">
		        <select id="categoryId" name="categoryId"  class="form-control main-form-input">
		        <#list catgorys  as category>
		        <option value="${category.id}"<#if notice.categoryId??><#if category.id == notice.categoryId> selected</#if></#if>>${category.name}</option>
		        
		        </#list>
		        </select>
		        <#if notice??><@spring.bind "notice.categoryId" /><@spring.showErrors /></#if>
		    </div>
		</div>
		<div class="form-group">
		    <label for="note" class="col-sm-2 control-label">公告状态</label>
		   
		    <div class="col-sm-10">
		         <select class="form-control main-form-input" id="state" name="state">
                   <option value="1" <#if notice.state?? && notice.state == 1>selected="selected" </#if>>发布</option>
                   <option value="0" <#if notice.state?? && notice.state == 0>selected="selected" </#if>>暂不发布</option>
                </select>
		        <#if notice??><@spring.bind "notice.state" /><@spring.showErrors /></#if>
		    </div>
		</div>
		

        <hr>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" class="btn btn-success main-form-submit">提 交</button>
            </div>
        </div>
	</form>
    
</div><!-- main -->

<@console.js />

</body>
</html>